@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#error-button {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

#error-button:hover {
  opacity: 0.8; /* Легке розмиття без зміни розмірів */
}

option {
  color: #0a0a0a;
  background-color: #ffffff;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin 1s linear infinite;
}